name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Cache for sbt & coursier ♨️
        uses: coursier/cache-action@v8

      - name: Set up JDK 11 ☕
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 11
          cache: sbt

      - uses: sbt/setup-sbt@v1

      - name: Run Lint check & tests
        run: sbt -v 'scalafmtCheckAll; test'
